In [1]:
import pandas as pd
import numpy as np
from sklearn import linear_model, metrics

In [2]:
df= pd.read_csv("train.csv")
df.head()

,Id,MSSubClass,MSZoning,LotFrontage,LotArea,Street,Alley,LotShape,LandContour,Utilities,...,PoolArea,PoolQC,Fence,MiscFeature,MiscVal,MoSold,YrSold,SaleType,SaleCondition,SalePrice
0,1,60,RL,65.0,8450,Pave,NaN,Reg,Lvl,AllPub,...,0,NaN,NaN,NaN,0,2,2008,WD,Normal,208500
1,2,20,RL,80.0,9600,Pave,NaN,Reg,Lvl,AllPub,...,0,NaN,NaN,NaN,0,5,2007,WD,Normal,181500
2,3,60,RL,68.0,11250,Pave,NaN,IR1,Lvl,AllPub,...,0,NaN,NaN,NaN,0,9,2008,WD,Normal,223500
3,4,70,RL,60.0,9550,Pave,NaN,IR1,Lvl,AllPub,...,0,NaN,NaN,NaN,0,2,2006,WD,Abnorml,140000
4,5,60,RL,84.0,14260,Pave,NaN,IR1,Lvl,AllPub,...,0,NaN,NaN,NaN,0,12,2008,WD,Normal,250000

In [3]:
df = df [["BedroomAbvGr", "FullBath", "LotArea", "SalePrice"]]
df.head()

   BedroomAbvGr  FullBath  LotArea  SalePrice
0             3         2     8450     208500
1             3         2     9600     181500
2             3         2    11250     223500
3             3         1     9550     140000
4             4         2    14260     250000

In [4]:
df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 1460 entries, 0 to 1459
Data columns (total 4 columns):
 #   Column        Non-Null Count  Dtype
---  ------        --------------  -----
 0   BedroomAbvGr  1460 non-null   int64
 1   FullBath      1460 non-null   int64
 2   LotArea       1460 non-null   int64
 3   SalePrice     1460 non-null   int64
dtypes: int64(4)
memory usage: 45.8 KB

In [24]:
df= pd.get_dummies(df)
df.head()

   BedroomAbvGr  FullBath  LotArea  SalePrice
0             3         2     8450     208500
1             3         2     9600     181500
2             3         2    11250     223500
3             3         1     9550     140000
4             4         2    14260     250000

In [29]:
X = df.loc[:, df.columns != 'SalePrice']
y = df['SalePrice']

from sklearn.model_selection import train_test_split
X_train, X_test, y_train, y_test = train_test_split(X, y, test_size= 0.4, random_state=1)

In [32]:
reg = linear_model.LinearRegression()
reg.fit(X_train,y_train)

LinearRegression()

In [33]:
y_pred = reg.predict(X_test)

In [34]:
# MAE
from sklearn.metrics import mean_absolute_error
mean_absolute_error(y_test, y_pred)

46125.741405904904

In [38]:
# RMSE
from sklearn.metrics import mean_squared_error
mean_squared_error(y_test, y_pred, squared=False)

66603.10448990396

In [39]:
#R Squared
from sklearn.metrics import r2_score
r2_score(y_test, y_pred)

0.3288566828628212