##Topic 3 - Python Structure & Data Type Assignment

# Data Type Declaration

1. > Create an empty variable (Points : 5)

In [1]:
data_frame = ()
data_frame

()

2. > Create a variable containing your name (Points : 5)

In [2]:
data_frame = ('Fauzapril', 'Duta', 'Sanubari')
data_frame

('Fauzapril', 'Duta', 'Sanubari')

3. > Create a list of 5 items you can find in the classroom (Points : 5)

In [3]:
struktur_data = (['list','tuple','array','directions','set'])
struktur_data

['list', 'tuple', 'array', 'directions', 'set']

4. > Create a dictionary containing 2 keys and value (Points : 5)

In [5]:
nilai_ujian= { 'Nama' :['Adam', 'Beni', 'Cindy', 'Dani', 'Emanuel'],
               'Nilai Ujian MTK' : [80, 90, 70, 85, 75] 
}

# Basic Data Operation

You sold 20 pieces of electronics at the price of 12000. The customer gets a total discount of 10%.

Below are those variables:

1.   price=12000
2.   quantity_sold=20
3.   discount=10%


Using Python code, write the code the find the total money that the customer to pay. (Points : 15)

In [6]:
price = 12000
quantity_sold = 20
disount = 10

a= price * quantity_sold *(10/100)
a

24000.0

# List Data Operation

5. > Follow the instructions in the code blocks

In [7]:
# Create list of countries in the world (total 7 countries) (Points : 5)

country = (['Amerika Serikat', 'Belanda', 'China', 'Denmark', 'Etiopia', 'Finlandia', 'Ghana'])
country

['Amerika Serikat',
 'Belanda',
 'China',
 'Denmark',
 'Etiopia',
 'Finlandia',
 'Ghana']

In [8]:
# Get 4 countries from the first index of the list (Points : 5)

country[3]

'Denmark'

In [9]:
# Append new country to the list (Points : 5)

country.append('Honduras')
country

['Amerika Serikat',
 'Belanda',
 'China',
 'Denmark',
 'Etiopia',
 'Finlandia',
 'Ghana',
 'Honduras']

In [10]:
# Drop one country from the list (Points : 5)

country.remove('Finlandia')
country

['Amerika Serikat',
 'Belanda',
 'China',
 'Denmark',
 'Etiopia',
 'Ghana',
 'Honduras']

In [11]:
# Get country in the last index (Points : 5)

country[6]

'Honduras'

# Dictionary Data Operation

6. >  Follow the instructions below

In [38]:
# Given the dictionary below

customer={
    "name":['Dio','Eka','Wayu','Riki'],
    "age":[20,19,24,39],
    "gender":[1,0,0,1],
    "membership":['Platinum','Gold','Silver','Silver']
}

In [30]:
# Print all keys in customer (Points : 5)

customer.keys()

dict_keys(['name', 'age', 'gender', 'membership'])

In [31]:
# Print all customer names (Points : 5)

print('name', customer['name'])

name ['Dio', 'Eka', 'Wayu', 'Riki']

In [32]:
# Print the first customer name (Points : 5)

print('first customer name is ', customer['name'][0])

first customer name is  Dio

In [36]:
# Drop "age" key from the dictionary (Points : 5)

del customer ['age']
print(customer)

{'name': ['Dio', 'Eka', 'Wayu', 'Riki'], 'gender': [1, 0, 0, 1], 'membership': ['Platinum', 'Gold', 'Silver', 'Silver']}

In [46]:
# Replace customer gender list value (Points : 20)
# gender 1 => Male
# gender 0 => Female 

for i, v in enumerate (customer["gender"]):
    if customer["gender"][i]==1:
        customer["gender"][i]="Male"
    elif customer["gender"][i]==0:
        customer["gender"][i]="Female"
        
customer

{'name': ['Dio', 'Eka', 'Wayu', 'Riki'],
 'age': [20, 19, 24, 39],
 'gender': ['Male', 'Female', 'Female', 'Male'],
 'membership': ['Platinum', 'Gold', 'Silver', 'Silver']}